.foodIconColor {
    color: coral;
}

.waterIconColor {
    color: blue;
}

.gymIconColor {
    color: #cd9616;
}

.weightIconColor {
    color: #ffc019;
}

.brIconColor {
    color: #50ca07;
}

.goodFH {
    color: #83d70a;
}

.normalFH {
    color: #33d0bf;
}

.ngoodFH {
    color: #a40be5;
}

.badFH {
    color: darkred;
}

.drinkFH {
    color: dodgerblue;
}