.Collapsible__trigger {
    display: block;
    background-color: #f7c202;
    cursor: pointer;
    border: 2px solid black;
    font-size: x-large;
    text-align: center;
}

.Collapsible__contentOuter {
    border: 1px solid black;
    border-top-width: 0;
}

